.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-width: 100vh
}

.RollDiceContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.button {
    align-self: center;
    width: 12em;
    height: 3.5em;
    background: rgb(90, 54, 187);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.button:hover {
    background: rgb(44, 26, 94);
}
